<div class="col-md-4 mx-auto">
    <div class="card">
    <div class="card-header">
        <h3>Create Super Market</h3>
    </div>

    <div class="card-body">
            <form action="/supermarkets/createSupermarket" method="POST">
            <div class="form-group">
                ID:
                    <input type="" name="idSuperMarket"><br>
                Name:
                    <input type="text" name="name"></br> 
                Description: 
                    <textarea name="description"></textarea></br>
                adress: 
                    <input type="text" name="adress"></br>
                longitude: 
                    <input type="number" name="longitude"></br>
                latitude:
                    <input type="number" name="latitude"></br> 
                image: 
                    <input type="text" name="image"></br>
                telephone: 
                    <input type="number" name="telephone"></br>
                rating:
                    <input type="number" name="rating"></br> 
                schedule: 
                    <textarea name="schedule"></textarea></br>
                website: 
                    <input type="text" name="website"></br>
                products: 
                    <input type="text" class="form-control"  name="products" placeholder="Products" multiple="multiple" value={{products}}>

            </div>
            <div class="form-group">
                <button class="bton btn-primary btn-block" type="submit">
                    Save
                </button>
            </div>
            </form>
        </div>
    </div>
</div>
