<div class="col-md-4 mx-auto">
    <div class="card">
    <div class="card-header mx-auto">
        <h3>Employee Module</h3>
    </div>
    <div class="card-nbody">
        <div class="col-md-8 mx-auto" align="center"><h4>Operations</h4></div>
        <a href="" class="btn btn-primary btn-block btn-sm">Make an Order</a>
        <a href="" class="btn btn-primary btn-block btn-sm">Show List of Possible Sites to Place Orders</a>
        <a href="" class="btn btn-primary btn-block btn-sm">Show Orders History</a>
    </div>
    </div>
</div>