<div class="col-md-4 mx-auto">
    <div class="card">
    <div class="card-header mx-auto">
        <h3>Employee Module</h3>
    </div>
    <div class="card-nbody">
        <div class="col-md-8 mx-auto" align="center"><h4>Operations</h4></div>
        <a href="/supermarkets" class="btn btn-primary btn-block btn-sm">Manage Supermarket Branches</a>
        <a href="/employees/signUpEmployees" class="btn btn-primary btn-block btn-sm">Register Employees</a>
        <div class="col-md-8 mx-auto" align="center"><h4>Consults</h4></div>
        <a href="" class="btn btn-primary btn-block btn-sm">Search Client and Show Order History</a>
        <a href="" class="btn btn-primary btn-block btn-sm">Show all Branches with Orders</a>
        <a href="" class="btn btn-primary btn-block btn-sm">Top 5 Branches</a>
        <a href="" class="btn btn-primary btn-block btn-sm">Show Concurrent Clients in Branches</a>
        <a href="" class="btn btn-primary btn-block btn-sm">Show Products from Concurrent Clients in Branches</a>
    </div>
    </div>
</div>
