<div class="row">
    <div class="card">
        <div class="card-header">
            <h1>Recommended Products</h1> 
        </div>
        <div class="card-body">
            <form action="/employees/query05" method='POST'> 
                <div class="form-group">
                    <label>Enter the Client ID:</label>
                </div>
                <div class="form-group">
                    <input type="text" name="selectedClient" id="selectedClient">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">

    <div class="card-header">
        <h1>Products Results</h1> 
    </div>
<table class="egt table {
    border-collapse: separate;
    border-spacing: 5px;
    background: #000 url("gradient.gif") bottom left repeat-x;
    color: #fff;
 }">  
    <tr>
    <th>Product</th>
    <th>Price</th>
    <th>Market</th>
    </tr>
</table>
</div>
