<div class="col-md-4 mx-auto">
    <div class="card">
    <div class="card-header">
        <h3>Register Product</h3>
    </div>

    <div class="card-body">
            <form action="/employees/registerProduct" method="POST">
            <div class="form-group">
                <!--         SE HACE UN EACH CON LOS MARKETS ENCONTRADOS EN LA BD
                Select Market:
                    <select>
                        <option value="volvo">Volvo</option>
                    </select>
                
  -->

                Code:
                    <input type="text" name="code"></br>
                Product
                    <input type="text" name="product"></br>
    
                Description:
                <textarea name="textarea" rows="6" cols="40"></textarea>

                Unit Price:
                    <input type="text" name="unitPrice"></br>

                <p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;"></p>
                <p><label for="file" style="cursor: pointer;">Click to choose an image</label></p>
                <p><img id="output" width="200" /></p>

                <script>

                    var loadFile = function (event) {
                    var image = document.getElementById('output');
                    image.src = URL.createObjectURL(event.target.files[0]);
      };            </script
                

                
            <div class="form-group">
                <button class="bton btn-primary btn-block" type="submit">
                    Save
                </button>
            </div>
            </form>
        </div>
    </div>
</div>